/* ///////////////////////////////////////////  */
/* Header */
/* ///////////////////////////////////////////  */
.headerClass {
    height: 60px;
    background-color: rgba(255, 0, 0, 0.69);
}

/* ///////////////////////////////////////////  */
/*  Search */
/* ///////////////////////////////////////////  */

.searchSectionClass {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 220px;
    background-color: rgba(128, 128, 128, 0.76);
}

#searchImgID {
    border-radius: 50px;
}
/* ///////////////////////////////////////////  */
/*  History */
/* ///////////////////////////////////////////  */
.searchHistory {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.38);
}

/* ///////////////////////////////////////////  */
/*  Saved */
/* ///////////////////////////////////////////  */

.savedJobsClass {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 500px;
    background-color: rgba(41, 55, 171, 0.38);

}

#leftSavedID{

}